.footer{
    width: 100%;
    background-color: #65605d;
    box-sizing: border-box;
    padding: 1rem 15% 1rem 15% ;
    margin-top: 3rem;
}


.footer-container {
    display: flex;            /* Используем Flexbox для расположения дочерних элементов */
    justify-content: center;  /* Центрируем содержимое по горизонтали */
    align-items: center;      /*  по вертикали */
    gap: 20px;                /* Промежуток меж элементами */
}

.footer-contacts {
    display: flex;            /* Flexbox для расположения изображения и текста в одной линии */
    align-items: center;      
}

.footer-contacts img {
    width: 50px;           
    height: 50px;           
    margin-right: 10px;       /* Промежуток между изображением и текстом */
}

.footer-contacts .content {
    
    color: rgb(255, 255, 255);
    font-family: Jura;
    font-size: 24px;
    margin: 0;                /* Убираем отступ */
}